.aboutHotel {
  width: 100%;
  align-items: center;
  margin-bottom: 2rem;
  display: flex;
  gap: 0.5rem;
}

.aboutHotel_Img {
  width: 50%;
}

.aboutHotel img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.aboutHotel p {
  color: #000;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .aboutHotel_Img {
    width: 100%;
  }

  .aboutHotel p {
    width: 100%;
  }
}
