.aboutHotel {
  width: 100%;
  align-items: center;
  margin-bottom: 2rem;
  display: flex;
  gap: 0.5rem;
}

.aboutHotel img {
  width: 50%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}

.aboutHotel p {
  color: #000;
}
