.aboutHotel {
  width: 100%;
  align-items: center;
  margin-bottom: 2rem;
  display: flex;
  gap: 0.5rem;
}

.aboutHotel img {
  width: 50%;
  object-fit: cover;
  object-position: center;
}

.aboutHotel p {
  color: #000;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .aboutHotel img {
    width: 100%;
  }
}

@media screen and (max-width: 662px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}
