.offerListCard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1.5px solid #dfdfdf;
}

.offerListCard:first-child {
  border-top: 1.5px solid #dfdfdf;
}

.offerListCard:last-child {
  border-bottom: 0;
}

.offerListName {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--accent-blue);
}

.offerListName p {
  font-weight: 600;
}

.offerListName img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}

.offerListBookNow {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1.5rem;
  color: var(--accent-blue);
  cursor: pointer;
}

.offerListBookNow:hover {
  background: var(--accent-blue);
  color: #fff;
  border-radius: 20px;
}

.offerListBookNow span {
  align-self: center;
  display: flex;
}

@media screen and (max-width: 425px) {
  .offerListCard {
    flex-direction: column;
  }

  .offerListName {
    align-self: start;
  }

  .offerListBookNow {
    align-self: end;
  }
}
