.authSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.authMenu {
  padding: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 3rem;
  text-align: start;
}

.authMenu div {
  padding-inline: 0 150px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.authMenu div p {
  padding: 20px 5px;
  border-bottom: 2px solid transparent;
  color: var(--base-blue);
}

.authMenu div:nth-child(2) {
  border-radius: 20px;
  padding-inline: 50px 150px;
  border: 1px solid #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}

.border_bottom {
  border-bottom: 2px solid var(--base-blue) !important;
}

.authForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.authImgContainer {
  width: 60%;
  max-width: 700px;
  object-fit: cover;
  object-position: center;
}

.authImgContainer img {
  width: 100%;
}

.authFormContainer {
  width: 40%;
  max-width: 700px;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .authMenu {
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .authForm {
    flex-direction: column-reverse;
  }
  .authFormContainer,
  .authImgContainer {
    width: 80%;
  }
}

@media screen and (max-width: 662px) {
  .authMenu div {
    padding-inline: 0;
    overflow: hidden;
  }

  .authMenu div p {
    padding: 10px 30px;
    text-align: start;
  }

  .authMenu div:nth-child(2) {
    border-radius: 15px;
    padding-inline: 0;
  }
}

@media screen and (max-width: 480px) {
  .authFormContainer,
  .authImgContainer {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .authMenu div p {
    padding: 7px 21px;
  }
}
